spring:
    datasource:
        url: jdbc:mysql://localhost:3306/kiubit_auth?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                '[format_sql]': true