spring:
    datasource:
        url: jdbc:mysql://localhost:3306/kiubit_auth?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                '[format_sql]': true

jwt:
    secret: aGk3NmRmOHNkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZg==
    expirationMs: 3600000
    refreshExpirationMs: 86400000