spring:
    datasource:
        url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/kiubit_auth?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
        username: ${SPRING_DATASOURCE_USERNAME:root}
        password: ${SPRING_DATASOURCE_PASSWORD:root}
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                '[format_sql]': true

jwt:
    secret: ${JWT_SECRET:aGk3NmRmOHNkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZjg3c2RmODdzZGY4N3NkZg==}
    expirationMs: ${JWT_EXPIRATIONMS:3600000}
    refreshExpirationMs: ${JWT_REFRESHEXPIRATIONMS:86400000}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
